@font-face {
  font-family: "Proxima Nova", sans-serif;
  src:  url("./assets/fonts/ProximaNova-Regular.ttf"),
        url("./assets/fonts/ProximaNova-Semibold.woff"),
        url("./assets/fonts/ProximaNova-Semibold.ttf"),
        url("./assets/fonts/ProximaNova-Semibold.eot"),
        url("./assets/fonts/ProximaNovaSoft-Regular.woff"),
        url("./assets/fonts/ProximaNovaSoft-Regular.ttf"),
        url("./assets/fonts/ProximaNovaSoft-Regular.eot");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body {
  font-family: 'Proxima Nova';
}

.main-logo {
  width: 100%;
  max-width: 150px;
}

.hero__title {
  font-weight: 300;
}

.navbar__title {
  font-weight: 400;
}

.navbar__link {
  font-weight: 400;
}

.feature-card-title {
  font-weight: 300;
}
