.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
}

.label {
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: rgba(55, 65, 81, 1);
}

.inputWrapper {
  border: 1px solid #333;
  border-radius: 4px;
}

.input {
  background: transparent;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  display: block;
  padding: 0.2rem 0.5rem;
  font-size: 14px;
  line-height: 26px;
  outline: 0;
  width: 100%;
}

.button {
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: rgba(37, 99, 235, 1);
  border-color: transparent;
  border-width: 1 px;
  border-radius: 0.375rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: inline-flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(29, 78, 216, 1);
}
