name: CI

on:
  push:
    branches:
      - main
    paths:
      - packages/contract/**
      - packages/demo-issuer/**
      - packages/demo-revocation/**
      - packages/demo-verifier/**
      - packages/e2e-demo/**
      - packages/verite/**
      - packages/wallet/**
  pull_request:
    branches:
      - main
    paths:
      - packages/contract/**
      - packages/demo-issuer/**
      - packages/demo-revocation/**
      - packages/demo-verifier/**
      - packages/e2e-demo/**
      - packages/verite/**
      - packages/wallet/**

jobs:
  lint_and_test:
    name: "Lint & Test"
    runs-on: ubuntu-latest
    env:
      NODE_ENV: test
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16"
          cache: "npm"
      - run: npm run setup
      - run: npm run setup:ci -w @verite/e2e-demo
      - run: npm run build:verite
      - run: npm run lint
      - run: npm run type-check
      - run: npm run test
